<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">StreamSuggest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#popularSection">Popular</a>
                </li>
                <li class="nav-item" id="watchlistNavbar" style="display: none;">
                    <a class="nav-link" href="#watchlistSection">Watchlist</a>
                </li>
                <li class="nav-item" style="display: none;" id="recommendedNavbar">
                    <a class="nav-link" href="#recommendedSection">Recommended</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled">Link</a>
                </li> -->
            </ul>

            <button class="btn signin-btn" data-bs-toggle="modal" data-bs-target="#signinModal" id="signinheaderButton"><i
                    class="fa fa-user fa-lg" aria-hidden="true"></i>
                <span id="userNameHeader">
                    SignIn
                </span>
            </button>

        </div>

    </div>
</nav>